body {
    background-color: #242424;
    padding: 10px;
    border-radius: 12px;
}

header {
    font-size: 48px;
    font-weight: ultralight;
    font-style: italic;
}

wip-notice {
    direction: column;
}

textarea {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: monospace;
}

output {
    width: 300px;
    height: 200px;
    border: #ccc;
    padding: 10px;
}